// Fichier pour définir les fondations de votre site (police de caractères et normes pour tout le site

// La selection des couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// L'espacement entre les éléments du site
$distancing: 3rem;

// La police d'écriture des titres et des textes
body, h1, h2 {
    font-family: 'Shrikhand';
}

body, p {
    font-family: 'Roboto', sans-serif;
}

// Page d’accueil (x1)
// ● Affichage de la localisation des restaurants. À terme il sera possible de choisir sa localisation pour trouver des restaurants proches d’un certain lieu.
// ● Une courte présentation de l’entreprise.
// ● Une section contenant les 4 menus sous forme cartes. Au clic sur la carte,
// l’utilisateur est redirigé vers la page du menu.

// Page d’accueil
// ● Quand l’application aura plus de menus, un “loading spinner” sera nécessaire. Sur cette maquette, nous souhaitons en avoir un aperçu.
// Il devra apparaître pendant 1 à 3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et utiliser les animations CSS (pas de librairie).
// Le design de ce loader n’est pas défini, toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte graphique du site.