// Fichier regroupant les variables et les mixins qui stockent des propriétés utiles

// Selection des couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Espacement entre les éléments du site
$distancing: 3rem;

// @mixin 
//     justify-content: center
//     align-items: center