// Fichier pour définir les fondations de votre site (police de caractères et normes pour tout le site + animation de début)

// La police d'écriture des titres et des textes de tout le body

// @font-face {
//     font-family: "Roboto";
//     src: url('../font/Roboto-Black.ttf');
//     src: url('../font/Roboto-BlackItalic.ttf');
//     src: url('../font/Roboto-Bold.ttf');
// }

h1,
h3,
h5 {
    font-family: 'Shrikhand';
}

h2,
p {
    font-family: 'Roboto';
}

h5 {
    font-size: 25px;
}

// Style d'écriture
body .container-btn p.ellipsis {
    font-size: 14px;
}

body section.background-food div.one-line.btn-foods__description p {
    font-size: 14px;
    font-weight: bold;
}

html body footer.foot div.foot__title h1 {
    font-weight: normal;
    font-style: normal;
}

html body article div.box-many div.textual div.title-heart h4 {
    font-size: 18px;
}

body article div.box-many div.textual div.title-heart h4 {
    font-size: 1.6rem;
}

body article div.box-many div.textual div.textual-2 p {
    font-weight: bold;
}

body article.background-article.padding-global h4 {
    font-size: 1.6rem;
    margin-left: 3px;
}

html body section.padding-global h4 {
    font-size: 1.6rem;
    margin-left: 5px;
}

// Lien et mail sans changements
html body footer.foot p a {
    color: inherit;
    cursor: pointer;
}

.bolder {
    font-weight: normal !important;
}

// Recentrage pages et sections
.padding-global {
    padding: 9px;
}

body {
    margin: 0 !important;
}

// Comportement des liens
a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

// Animation de chargement de départ
div#loading-container {
    opacity: 0;
    z-index: -1;
    animation: disappear 3s 1;
    animation-iteration-count: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

div#loading {
    height: 50%;
    width: 50%;
    margin: auto;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 50px);
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 10px solid transparent;
        border-top-color: $color-tertiary;
    }

    &:before {
        z-index: 100;
        animation: spin 1s infinite;
    }

    &:after {
        border: 10px solid $gray-intermediate-2;
    }

    @keyframes disappear {
        from {
            opacity: 1;
            z-index: 10;
        }

        to {
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}



// Page d’accueil (x1)
// ● Affichage de la localisation des restaurants. À terme il sera possible de choisir sa localisation pour trouver des restaurants proches d’un certain lieu.
// ● Une courte présentation de l’entreprise.
// ● Une section contenant les 4 menus sous forme cartes. Au clic sur la carte,
// l’utilisateur est redirigé vers la page du menu.

// Page d’accueil
// ● Quand l’application aura plus de menus, un “loading spinner” sera nécessaire. Sur cette maquette, nous souhaitons en avoir un aperçu.
// Il devra apparaître pendant 1 à 3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et utiliser les animations CSS (pas de librairie).
// Le design de ce loader n’est pas défini, toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte graphique du site.