// Fichier pour rangers les composants plus indépendants comme les boutons et barres de recherches

// Responsive dekstop
// La recherche itinéraire
.search {
    background-color: $gray-intermediate;
    border-top: 2px solid rgba($gray-intermediate-2, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    vertical-align: middle !important;
}

.search input {
    margin-left: 30px;
    color: $black;
    font-size: 1.1rem;
    font-weight: bold;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px $gray-intermediate;
    background: transparent;
    outline: none;
}

// Le bouton d'entrée
.btn {
    @include button-principal;
    padding: 1.1rem 1.6rem;
}

// Les boutons de la section Fonctionnement
.operation-display {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-right: 1rem;
    margin-left: 1rem;

    section,
    i {
        color: $gray-intermediate-3;
    }

    &__btn1 {
        @include operation-button;
        padding-right: 3.5rem;
        padding-left: 3.5rem;

        &:active {
            background-color: rgba($color-primary, 0.1);
        }
    }

    &__btn2 {
        @include operation-button;
        padding-right: 3.5rem;
        padding-left: 3.5rem;

        &:active {
            background-color: rgba($color-primary, 0.1);
        }
    }

    &__btn3 {
        @include operation-button;
        padding-right: 3.5rem;
        padding-left: 3.5rem;

        &:active {
            background-color: rgba($color-primary, 0.1);
        }
    }

    // Pastille violette des boutons
    &__lozenge {
        border-radius: 15px;
        padding: 4px 8px;
        background-color: $color-primary;
        color: $white;

        font-size: large;
        position: relative;
        left: 97px;
        top: -42px;
    }
}

// Gestion de la cloche
.container-btn {
    display: flex;
    position: relative;
}

.showedClickable {
    position: absolute;
    right: 20px;
    display: none;
    width: auto;
    height: 100%;
}

.showedClickable i {
    font-size: larger;
    color: $color-tertiary;
}

a.clickable:focus+.showedClickable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// Icônes des boutons
section .operation-display button:active i {
    color: $color-primary;
    // color: rgba($color-primary, 1);
}

.operation-display i {
    margin-right: 15px;
}

// Responsive tablette
@media screen and (max-width: 960px) {

    // La recherche itinéraire
    .search {
        background-color: $gray-intermediate;
        border-top: 2px solid rgba($gray-intermediate-2, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        vertical-align: middle !important;
    }

    .search input {
        margin-left: 30px;
        color: $black;
        font-size: 1rem;
        font-weight: bold;
    }

    input[type=search] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px $gray-intermediate;
        background: transparent;
        outline: none;
    }

    // Le bouton d'entrée
    .btn {
        @include button-principal;
    }

    // Les boutons de la section Fonctionnement
    .operation-display {
        display: flex;
        flex-direction: column;
        width: auto;

        section,
        i {
            color: $gray-intermediate-3;
        }

        &__btn1 {
            @include operation-button;
            padding-right: 3.5rem;
            padding-left: 3.5rem;

            &:active {
                background-color: rgba($color-primary, 0.1);
            }
        }

        &__btn2 {
            @include operation-button;
            padding-right: 3.5rem;
            padding-left: 3.5rem;

            &:active {
                background-color: rgba($color-primary, 0.1);
            }
        }

        &__btn3 {
            @include operation-button;
            padding-right: 3.5rem;
            padding-left: 3.5rem;

            &:active {
                background-color: rgba($color-primary, 0.1);
            }
        }

        // Pastille violette des boutons
        &__lozenge {
            border-radius: 15px;
            padding: 4px 8px;
            background-color: $color-primary;
            color: $white;
            margin-right: 1rem;
            font-size: medium;
            position: inherit;
        }
    }

    // Gestion de la cloche
    .container-btn {
        display: flex;
        position: relative;
    }

    #showedClickable {
        position: absolute;
        right: 20px;
        display: none;
        width: auto;
        height: 100%;
    }

    #showedClickable i {
        font-size: larger;
        color: $color-tertiary;
    }

    a.clickable:focus+#showedClickable {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    section .operation-display button:active i {
        color: $color-primary;
    }

    // Icônes des boutons
    .operation-display i {
        margin-right: 15px;
    }
}

// Responsive mobile
@media screen and (max-width: 640px) {

    // La recherche itinéraire
    .search {
        background-color: $gray-intermediate;
        border-top: 2px solid rgba($gray-intermediate-2, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        vertical-align: middle !important;
    }

    .search input {
        margin-left: 30px;
        color: $black;
        font-size: 1rem;
        font-weight: bold;
    }

    input[type=search] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px $gray-intermediate;
        background: transparent;
        outline: none;
    }

    // Le bouton d'entrée
    .btn {
        @include button-principal;
    }

    // Les boutons de la section Fonctionnement
    .operation-display {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 87%;

        section,
        i {
            color: $gray-intermediate-3;
        }

        &__btn1 {
            @include operation-button;
            display: flex;
            flex-direction: row;

            &:active {
                background-color: rgba($color-primary, 0.1);
            }
        }

        &__btn2 {
            @include operation-button;
            display: flex;
            flex-direction: row;

            &:active {
                background-color: rgba($color-primary, 0.1);
            }
        }

        &__btn3 {
            @include operation-button;
            display: flex;
            flex-direction: row;

            &:active {
                background-color: rgba($color-primary, 0.1);
            }
        }

        // Pastille violette des boutons
        &__lozenge {
            border-radius: 15px;
            padding: 4px 8px;
            background-color: $color-primary;
            color: $white;
            font-size: small;
            position: relative;
            left: -37px;
            top: 0px;
        }
    }

    // Gestion de la cloche
    .container-btn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .showedClickable {
        position: absolute;
        right: 4px;
        display: none;
        width: auto;
        height: 100%;
    }

    .showedClickable i {
        font-size: larger;
        color: $color-tertiary;
    }

    a.clickable:focus+.showedClickable {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    section .operation-display button:active i {
        color: $color-primary;
    }

    // Icônes des boutons
    .operation-display i {
        margin-right: 15px;
    }

    .container-btn {
        position: static;
    }
}

// Boutons
// ● Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. L’ombre portée devra également être plus visible.
// ● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un bouton "J’aime" en forme de cœur est présent sur la maquette.
// Au clic, il devra se remplir progressivement. Pour cette première version, l’effet peut être apparaître au survol sur desktop au lieu du clic.