// Fichier pour rangers les composants plus indépendants comme les boutons

.btn {
    background-color: $color-primary;
    border-radius: 2rem;
    padding: 0.70rem 1.4rem;

    color: $white;
    font-size: 1rem;
}


// Boutons
// ● Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. L’ombre portée devra également être plus visible.
// ● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un bouton "J’aime" en forme de cœur est présent sur la maquette.
// Au clic, il devra se remplir progressivement. Pour cette première version, l’effet peut être apparaître au survol sur desktop au lieu du clic.