// Fichier qui contient le code qui ne s'applique qu'à une seule page à la fois.

// La partie article/images de l'index
.background-article {
    background-color: $lightgray;
    padding-top: 10px;
}

.container-grid {
    display: flex;
    flex-direction: column;
    line-height: 1.15;
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    //     grid-column: span 3;
    //     box-sizing: border-box;
    &__box-many {
        padding: 0px 31px;
        // display: grid;
        // grid-gap: 1.75rem;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        // grid-template-rows: repeat(2, 200px);
        // grid-auto-flow: dense;
        // grid-gap: 1.75rem;
        // // grid-template-columns: 1fr;
        // // grid-row: span 1;
        // // grid-template-rows: repeat(1, 200px);
    }
    &__box-other {
        padding: 0px 41px;
        // image-rendering: initial;
    }
}

article img {
    height: 15rem;
    // display: flex;
    // text-align: center;
}

article a {
    color: $black;
    text-decoration: none;
}



// Pages de menu (x4)
// ● 4 pages contenant chacune le menu d’un restaurant.

// Pages de menu
// ● À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger décalage dans le temps.
// Ils pourront soit apparaître un par un, soit par groupe “Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni.
// ● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus. Cela fait apparaître une petite coche à droite du plat.
// Cette coche devra coulisser de la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol sur desktop au lieu du clic.
// Si l’intitulé du plat est trop long, il devra être rogné avec des points de suspension. Un exemple de l’effet attendu est fourni.