// Fichier qui contient le reste du code et ce qui s'applique aux pages "secondaires".

// Partie article/images de l'index
.background-article {
    background-color: $lightgray;
    padding-top: 10px;
}

// Bloc BEM de la partie Restaurants
.container-grid {
    display: flex;
    flex-direction: column;
    line-height: 1.10;

    &__box-many {
        padding: 0px 21px;
    }
}

article img {
    height: 13rem;
}

article a {
    color: $black;
    text-decoration: none;
}


// 1) Gestion de la page restaurant numéro 1
// En-tête
.title-centrage {
    margin-left: auto;
    margin-right: auto;
}

.one-line {
    display: flex;
    flex-direction: row;

    &__offset {
        transform: translateY(-20px);
    }
}

.previous-arrow {
    margin-top: 30px;
    margin-left: 10px;
    color: $graydark;
    font-size: 1.2rem;
}

.single-img {
    height: 15.6rem;
    // position: absolute;
    // z-index: 0;
}

// Partie choix alimentaire
.background-food {
    background-color: $lightgray;
    width: 100%;
    padding-top: 1rem;
    transform: translateY(-40px);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.title-food {
    //   display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.icon-heart {
    color: $gray-intermediate-3;
    margin-left: 3rem;
    font-size: 1.5rem;
    font-style: normal
}

.sub-title {
    font-size: medium;
    margin-left: 20px;
    // border: 1px $color-tertiary;
}


.btn-pages {
    @include button-principal;
    width: 50%;
}

.btn-foods {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 60px;
    box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.1);
    background-color: $white;
    border-radius: 15px;
    padding-bottom: -20px;

    &__title {
        transform: translate(15px, 10px);
    }

    &__description {
        transform: translate(15px, -21px);
    }

    &__price {
        transform: translateX(175px);
    }

    &__price-2 {
        transform: translateX(125px);
    }

    &__price-3 {
        transform: translateX(104px);
    }

    &__price-4 {
        transform: translateX(57px);
    }

    &__price-5 {
        transform: translateX(65px);
    }

    &__price-6 {
        transform: translateX(214px);
    }

    &__price-7 {
        transform: translateX(245px);
    }

    &__price-8 {
        transform: translateX(81px);
    }

    &__price-9 {
        transform: translateX(53px);
    }
}

// Pages de menu (x4)
// ● 4 pages contenant chacune le menu d’un restaurant.

// Pages de menu
// ● À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger décalage dans le temps.
// Ils pourront soit apparaître un par un, soit par groupe “Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni.
// ● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus. Cela fait apparaître une petite coche à droite du plat.
// Cette coche devra coulisser de la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol sur desktop au lieu du clic.
// Si l’intitulé du plat est trop long, il devra être rogné avec des points de suspension. Un exemple de l’effet attendu est fourni.