// Fichier regroupant variables, mixins et fonctions afin de stocker des règles/propriétés utiles

// Variables
// Selection des couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #ffffff;
$verylightgray: #f7f7f7;
$lightgray: #f4f4f4;
$gray-intermediate: #dedede;
$gray-intermediate-2: #939393;
$gray-intermediate-3: #545454;
$graydark: #3b3b3b;
$black: #000000;

// Espacement entre les éléments du site
$distancing: 0.9rem;
$padding-dimensions: 1rem 2rem 3rem 4rem;

// Redimension aggrandie des tailles d'écriture
$text-size: 2rem;

// Mixins
@mixin button-principal {
    cursor: pointer;
    background: linear-gradient($color-secondary, 25%, $color-primary);
    border-radius: 2rem;
    border: none;
    padding: 0.9rem 1.4rem;
    margin-bottom: 20px;
    color: $white;
    font-size: 1rem;
    box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.2);
}

@mixin operation-button {
    background-color: $verylightgray;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
}

// Autoprefixeur pour navigateurs

// @mixin heading-shadow($colour:$colour-primary, $size: $heading-shadow-size){
//     text-shadow: $size $size lightness($colour, 10%);
// }