// Fichier regroupant variables, mixins et fonctions afin de stocker des règles/propriétés utiles

// Variables
// Selection des couleurs principales et secondaires
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #ffffff;
$verylightgray: #f7f7f7;
$lightgray: #f4f4f4;
$gray-intermediate: #dedede;
$gray-intermediate-2: #939393;
$gray-intermediate-3: #6e6e6e;
$gray-intermediate-4: #545454;
$graydark: #3b3b3b;
$black: #000000;

// Espacement entre les éléments du site
$distancing: 0.9rem;
$padding-dimensions: 1rem 2rem 3rem 4rem;

// Redimension aggrandie des tailles d'écriture
$text-size: 2rem;

// Mixins
// Les boutons du site
@mixin button-principal {
    cursor: pointer;
    background: linear-gradient($color-secondary, 25%, $color-primary);
    border-radius: 2rem;
    border: none;
    padding: 0.9rem 1.4rem;
    margin-bottom: 20px;
    color: $white;
    font-size: 1rem;
    transition: 300ms;
    box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.2);
    &:hover,
    &:focus {
        transform: scale(1.03);
        transition: 300ms;
        opacity: 0.9;
        // background: lighten($color-secondary, 30);
        box-shadow: 6px 6px 6px rgba(10, 10, 10, 0.3);
    }
    &:active {
        transform: scale(1.0);
        transition: 100ms;
    }
}

@mixin operation-button {
    cursor: pointer;
    padding: 29px 25px 26px 23px;
    border-radius: 19px;
    border: none;
    // background-color: $verylightgray;
    margin-bottom: 1.3rem;
    font-size: 1.05em;
    box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.1);
}

// L'icône coeur
@mixin favourite {
    color: $black;
    font-size: 1.4rem;
    position: relative;
    right: 38px;
    top :20px;
    cursor: pointer;
}

// Le cadre Nouveau
@mixin new {
    border: none;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40);
    padding: 0.4rem;
    font-size: 1em;
}