h1,
h3 {
  font-family: "Shrikhand";
}

h2,
p {
  font-family: "Roboto", sans-serif;
}

h5 {
  font-size: 20px;
}

.padding-global {
  padding: 8px;
}

body {
  margin: 0 !important;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.background-header {
  background-color: #f4f4f4;
  width: 100%;
}

.container-centrage {
  display: flex;
  justify-content: center;
}

.centrage-specific-width {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  display: flex;
  text-align: center;
}

.centrage-specific-width-2 {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  display: flex;
  text-align: center;
}

.element-offset {
  transform: translateY(-40px);
}

.element-offset-little {
  transform: translateY(-30px);
}

.foot h2 {
  font-size: 1rem;
}

.foot {
  padding: 0.9rem;
  font-size: 0.9em;
  line-height: 1.65;
  background-color: #3b3b3b;
  color: #ffffff;
  font-weight: bold;
}
.foot__title {
  font-style: italic;
  font-size: 0.58rem;
}
.foot__icon-object {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.down-distancing {
  margin-bottom: 3rem;
}

.left-distancing {
  margin-left: 10px;
}

.left-distancing-2 {
  margin-left: 4px;
}

.search {
  background-color: #dedede;
  border-top: solid 2px #939393;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  vertical-align: middle !important;
}

.search input {
  margin-left: 30px;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px #dedede;
  background: transparent;
  outline: none;
}

.btn {
  cursor: pointer;
  background: linear-gradient(#FF79DA, 25%, #9356DC);
  border-radius: 2rem;
  border: none;
  padding: 0.9rem 1.4rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.2);
}
.btn:hover {
  transform: scale(1.03);
  transition: 400ms;
}
.btn:active {
  transform: scale(1.07);
  transition: 100ms;
}

.operation-display {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
}
.operation-display section, .operation-display i {
  color: #6e6e6e;
}
.operation-display__btn1 {
  cursor: pointer;
  padding: 29px 25px 26px 23px;
  border-radius: 19px;
  border: none;
  background-color: #f7f7f7;
  margin-bottom: 1.3rem;
  font-size: 1.05em;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.1);
}
.operation-display__btn1:active {
  background-color: #9356DC;
  opacity: 0.1;
}
.operation-display__btn2 {
  cursor: pointer;
  padding: 29px 25px 26px 23px;
  border-radius: 19px;
  border: none;
  background-color: #f7f7f7;
  margin-bottom: 1.3rem;
  font-size: 1.05em;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.1);
}
.operation-display__btn3 {
  cursor: pointer;
  padding: 29px 25px 26px 23px;
  border-radius: 19px;
  border: none;
  background-color: #f7f7f7;
  margin-bottom: 1.3rem;
  font-size: 1.05em;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.1);
}
.operation-display__lozenge {
  border-radius: 15px;
  padding: 4px 8px;
  background-color: #9356DC;
  color: #ffffff;
  font-size: small;
  position: absolute;
  left: 23px;
}

.operation-display i {
  margin-right: 15px;
}

.background-article {
  background-color: #f4f4f4;
  padding-top: 10px;
}

.container-grid {
  padding: 0px 17px;
}

.box-many {
  background-color: #ffffff;
  border-radius: 21px;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.1);
}

article div img {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.textual {
  position: relative;
  left: 14px;
  bottom: 10px;
  line-height: 0.5rem;
}

.textual-2 {
  position: relative;
  top: -9px;
}

.new-1 {
  border: none;
  background-color: #99E2D0;
  color: #278870;
  margin-bottom: 1.3rem;
  padding: 0.4rem 0.6rem;
  font-size: 1em;
  position: absolute;
  left: 256px;
  top: 973px;
}

.new-2 {
  border: none;
  background-color: #99E2D0;
  color: #278870;
  margin-bottom: 1.3rem;
  padding: 0.4rem 0.6rem;
  font-size: 1em;
  position: absolute;
  left: 256px;
  top: 1250px;
}

.icon-heart-index-1 {
  color: #000000;
  font-size: 1.4rem;
  position: absolute;
  left: 305px;
  top: 1170px;
}

.icon-heart-index-2 {
  color: #000000;
  font-size: 1.4rem;
  position: absolute;
  left: 305px;
  top: 1447px;
}

.icon-heart-index-3 {
  color: #000000;
  font-size: 1.4rem;
  position: absolute;
  left: 305px;
  top: 1724px;
}

.icon-heart-index-4 {
  color: #000000;
  font-size: 1.4rem;
  position: absolute;
  left: 305px;
  top: 2001px;
}

span:active i {
  font-weight: 900;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

article a {
  color: #000000;
  text-decoration: none;
}

.title-centrage {
  margin-left: auto;
  margin-right: auto;
}

.one-line {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.one-line__offset {
  transform: translateY(-20px);
}

.previous-arrow {
  margin-top: 30px;
  margin-left: 20px;
  color: #3b3b3b;
  font-size: 1.2rem;
}

.single-img {
  height: 15.6rem !important;
}

.background-food {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 1rem;
  transform: translateY(-40px);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.title-food {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.icon-heart {
  color: #545454;
  margin-left: 3rem;
  font-size: 1.5rem;
}

span.icon-heart:active i {
  font-weight: 900;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sub-title {
  font-size: medium;
  line-height: 1.5;
  margin-left: 20px;
  border-bottom: 3px solid #99E2D0;
  width: 2.5em;
}

.btn-pages {
  cursor: pointer;
  background: linear-gradient(#FF79DA, 25%, #9356DC);
  border-radius: 2rem;
  border: none;
  padding: 0.9rem 1.4rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.2);
  width: 50%;
}
.btn-pages:hover {
  transform: scale(1.03);
  transition: 400ms;
}
.btn-pages:active {
  transform: scale(1.07);
  transition: 100ms;
}

.btn-foods {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 60px;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.1);
  background-color: #ffffff;
  border-radius: 15px;
  padding-bottom: -20px;
}
.btn-foods__title {
  transform: translate(15px, 10px);
}
.btn-foods__description {
  transform: translate(15px, -21px);
}
.btn-foods__price {
  transform: translateX(175px);
}
.btn-foods__price-2 {
  transform: translateX(125px);
}
.btn-foods__price-3 {
  transform: translateX(104px);
}
.btn-foods__price-4 {
  transform: translateX(57px);
}
.btn-foods__price-5 {
  transform: translateX(65px);
}
.btn-foods__price-6 {
  transform: translateX(214px);
}
.btn-foods__price-7 {
  transform: translateX(245px);
}
.btn-foods__price-8 {
  transform: translateX(81px);
}
.btn-foods__price-9 {
  transform: translateX(53px);
}

/*# sourceMappingURL=style.css.map */
